.innpakning{
width:2480px;
 height:3508px;
 margin:auto;
 padding:5px;
}
.flex1{
 display:flex;
 flex-direction:column;
}
.topptekst {
 background-image:url(bilder/La_Morra.jpeg);
 background-position:center;
 background-repeat:no-repeat;
 background-size:cover;
 position:relative;
}
.topp{

}
.meny{
 justify-content:flex-start;
 color:#ffffff;
  width:2408px; /*vidde meny*/
  background-color: #336600; /*grønn farge*/
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
}
.overskrift1 {
  width:446px;/*vidde innhold*/
  height:30px;
  background-color:#ffffff; /*hvit*/ 
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto; /*like stor høyre og venstremarg*/
 
}
.ingress{
  width:2630px;/*vidde bunntekst*/
  background-color:#ffffff; /*hvit*/
  padding: 5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
 }
.flex2{ 
 width:2630px;
 display:flex;
 flex-direction:row;
 margin:auto;
}
 .tekst1{
  width:1300px;/*vidde bunntekst*/
  background-color:#ffffff; /*hvit*/
  padding: 5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
 }

 .overskrift2{
  justify-content:center;
  margin:auto;
 }

.bilde2{
  background-image:url(bilder/IMG_1252.JPG);
 background-position:center;
 background-repeat:no-repeat;
 background-size:cover;
 position:relative;
}
.flex3{
 display:flex;
 flex-direction:row;
 margin:auto;
}
.tekst2{
  justify-content:center;
 background-color:#FFFFFF;
  width:1300px;/*vidde bunntekst*/
  padding: 5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
 }

 .tekst3{
   justify-content:center;
   background-color:#F2F3F4; /*grå*/
   width:1300px;/*vidde bunntekst*/
  padding: 5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
}
 .bunntekst{ 
  justify-content:center;
  width:2630px; /*vidde bunntekst*/
  background-color: #336600; /*grønn farge*/
  color:#ffffff;
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
  
 }
 

  
