.innpakning{
  width:2480px;
  height:3508px;

.topptekst {
 width:2480px;
 height:358px;
 background-position:center;
 background-repeat:no-repeat;
 background-size:cover;
 position:relative;
}
.topp
height:358px;
}
.meny{
 justify-content:flex-start;
  width:2480px; /*vidde meny*/
  background-color: #336600; /*grønn farge*/
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
}
.overskrift1 {
  width:1860px;/*vidde innhold*/
  background-color:#ffffff; /*hvit*/ 
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto; /*like stor høyre og venstremarg*/
 
}
.ingress{
  width:1860px;/*vidde bunntekst*
  background-color:#ffffff; /*hvit*/
  padding: 5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
 }
.flex1 {
    display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
 .bilde2{
  width:900px;

 }
 .tekst1{
  width:900px;
 }
.flex2 {
    display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
 .overskrift2{
   width:920px;
 }
.tekst2{
  width:1240px;
 }
 .tekst3{
  width:620px;
   background-color:#F2F3F4; /*grå*/
}
 .bunntekst{ 
  justify-content:center;
  width:2480px; /*vidde bunntekst*/
  background-color: #336600; /*grønn farge*/
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
  
 }
 

  
