.innpakning{
 width:595px;
 height:842px;
 display:flex;
 flex-direction:column;
}
.topptekst {
 background-position:center;
 background-repeat:no-repeat;
 background-size:cover;
 width:595px;
 height:105px;
 position:absolute;
 top:0px;
 right:0px;
}
.topp{
height:105px;
}
.meny{
 height:20px;
 justify-content:flex-start;
  width:595px; /*vidde meny*/
  background-color: #336600; /*grønn farge*/
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
}
.overskrift1 {
  width:446px;/*vidde innhold*/
  height:30px;
  background-color:#ffffff; /*hvit*/ 
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto; /*like stor høyre og venstremarg*/
 
}
.ingress{
  width:446px;/*vidde bunntekst*/
  height:60px;
  background-color:#ffffff; /*hvit*/
  padding: 5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
 }
.flex1{
  width:446px;
 height:200px;
  display: flex;
 flex-direction:row;
 justify-content:space-around;
}
 .bilde2{
  position:absolute;
 top:300px;
 right:75px;
  width:100px;
  height:50px;
 }
 .tekst1{
  width:210px;
 }

 .overskrift2{
   width:446px;
  justify-content:space-around;
 }
.flex2{
   display: flex;
 flex-direction:row;
  justify-content:space-around;
 width:446px;
 height:200px;
}
.tekst2{
  width:210px;
 }
 .tekst3{
  width:210px;
   background-color:#F2F3F4; /*grå*/
}
 .bunntekst{ 
  width:595px; /*vidde bunntekst*/
  height:80px;
  background-color: #336600; /*grønn farge*/
  color:#ffffff;
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
  
 }
 

  
