.innpakning{
  width:2480px;
  height:3508px;
  display: flex;
  flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 60px;
.topptekst {
 width:2480px;
 height:358px;
 background-position:center;
 background-repeat:no-repeat;
 background-size:cover;
 position:relative;
}
.topp
height:358px;
}
.meny{
 justify-content:flex-start;
  width:2480px; /*vidde meny*/
  background-color: #336600; /*grønn farge*/
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
}
.overskrift1 {
  width:1860px;/*vidde innhold*/
  background-color:#ffffff; /*hvit*/ 
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto; /*like stor høyre og venstremarg*/
 
}
.ingress{
  width:1860px;/*vidde bunntekst*
  background-color:#ffffff; /*hvit*/
  padding: 5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
 }
 .flex1{
  width:1860px;
 flex-display:flex;
  flex-direction:row;
 }
 .tekst1{
  width:1860px;
 }

 .flex2{
  flex-display:flex;
  flex-direction:row;
   width:1860px;
 }
 .overskrift2{
   width:1860px;
 }
.tekst2{
  width:1860px;
 }
 .tekst3{
  width:1860px;
   background-color:#CACFD2; /*grå*/
}
 .bunntekst{ 
  width:2480; /*vidde bunntekst*/
  background-color: #336600; /*grønn farge*/
  padding:5px; /*avstand mellom bokskant og innhold*/
  margin:auto;/*like stor høyre og venstremarg*/
  
 }
 

  
